bin/
node_modules/
web/public/

# Ignore files produced by draw.io app
diagrams/.$*

# Ignore all packaged handler lambdas
code/**/*.zip

# all python project virtualenv
**/py/.env

# vscode specific files
.vscode/*
